<section class="background">
    <h1 class="users-title">You are Welcome to my home page</h1>
    <ul>
      <% @users.each do |user|%>
        <%= link_to user do %>
          <li class="post-container flex hover">
            <div class="user-image border">
              <%= image_tag('man.png',  :width => "100px", :heigth=>"100px") %>
            </div>
            <div class="user-data border">
              <h1><%= user.name %></h1>
              <p class="numberPost">Number of posts: <%= user.posts_counter %></p>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>  
</section>